<div class="wrapper">

	<div class="jumbotron text-center">
		<h1>Fantasy Football News</h1>
		<h2>Stay Ahead of the Game</h2>
	</div>

	<div class="container">

		<div class="row">

			<div class="col-md-6 well text-center" id="articles">
				<h2>Articles</h2>
			</div>

			<div class="col-md-6 well text-center" id="comments">
				<h2>Comments</h2>
			</div>

		</div>

	</div>

</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

<script src="app.js"></script>