<div class="wrapper">

	<div class="jumbotron text-center">
		<h1>Fantasy Football News</h1>
		<h2>Stay Ahead of the Game</h2>
	</div>

	<div class="well">

		<div id="articles"></div>

		<div id="comments"></div>

	</div>

</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

<script src="app.js"></script>